
.formDate{
    display: flex;
    flex-direction: row;
    background: #FCFCFC;
    /* HRIS - Drop Shadow */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.21);
    border-radius: 21px;
    padding: 25px 0px;
}


.timeRecord{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 25px;
    border-right: 1px solid #03a9f4;
    width: 390px;
}

h1{
    color: #1D75BD;
    padding: 0 25px;
}
.dateReqWrap{
    padding:  25px;
    border-bottom: 1px solid #1D75BD;
}

.dateReqWrap a{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    color: #1D75BD;
    flex-direction: row;
    align-items: center;
    padding: 5px 9px;
    cursor: pointer;
    gap: 10px;
}
.tabdate{
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 27px;
    align-items: center;
    justify-content: center;
    color: #1D75BD;
    gap: 45px;
}

.dateBot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.entryRequest{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 5px;
    overflow: auto;
}

.entriesOT{
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 290px;
    height: 60px;
    background: #FFD577;
    border-radius: 8px;
}

.entriesOFF{
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 290px;
    height: 60px;

    background: #FFBD98;
    border-radius: 8px;
}

.entryWrap{
    display: flex;
    flex-direction:row;
    gap: 8px;
    margin-top: 10px;
}

.entryWrap label{
    width: 39px;
    height: 27px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:#FFD577;
    background: #FCFCFC;
    border-radius: 5px;
}


.btnWrap{
    display: flex;
    flex-direction:row;
    width: 250px;
    justify-content: space-around;
}
.nameRequest{
    color: white;
    width: 120px;
}

.btnView{
    width: 39px;
    height: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
    border-radius: 25px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFD577;
    cursor: pointer;
}

.nav-item.active{
    color: #FA3E3E;
    padding-bottom: 15px;
}

.hidden{
    display:none;
}

.feather-16{
    width: 16px;
}
.scheduledFrame{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.view{
    display: none;
}

.view div{
    margin-bottom: 10px;
}
.view2{
    display: none;
}

.view2 div{
    margin-bottom: 10px;
}

.userEntry{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background: #FFD577;
    border-radius: 0px 8px 8px 0px;
    padding: 10px;
    gap: 10px;
}
.userEntry img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.entryInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.entryInfo p{
    color: #fcfcfc;
    margin: 0;
}
.navtime{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navtime a{
   color: #1D75BD;
}
.navtime a .active{
    border-bottom: 1px solid #1D75BD;
 }