#number{
  background: #2B3991;
  color: #fcfcfc;
  height: 40px;;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.containers{
  width: 50vh;
  position:absolute;
  top: 45%;
  right: -30%;
  transform: translate(-50%,-50%) rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}

input[type="range"]{
  background: #2B3991;
  width:85%;
  -webkit-appearance: none;
  height: 2px;
  position: relative;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #2B3991;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}


input[type="range"]::-webkit-scrollbar-thumb{
  -webkit-appearance: none;
  background: #2B3991;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}